<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Ana Sayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#Education" class="nav-item nav-link"><span class="far fas fa-book-open"></span> Eğitim</a>
            <a href="#Internship" class="nav-item nav-link"><span class="far fas fa-warehouse"></span> Staj</a>
            <a href="#Experience" class="nav-item nav-link"><span class="far fas fa-briefcase"></span> Deneyim</a>
            <a href="#Skill" class="nav-item nav-link"><span class="far fas fa-magic"></span> Yeteneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fab fa-servicestack"></span> Hizmetler</a>            
            <a href="#Portfolio" class="nav-item nav-link"><span class="fab fas fa-project-diagram"></span> Portfolyo</a>            
            <a href="#Testimonial" class="nav-item nav-link"><span class="fab fas fa-hands-helping"></span> Referans</a>            
            <a href="#pigraContact" class="nav-item nav-link"><span class="fas fa-address-book"></span> Bana Yazın</a>
        </div>
    </nav>
</div>
