@model PortfolioProject.Models.Testimonial
@{
    ViewBag.Title = "CreateReferance";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4"> Yeni Referans Ekleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x=>x.TestimonialID)
    <label style="color:orange"><b>İsim-Soyisim</b></label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label style="color:orange"><b>Yorum</b></label>
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control" })
    <br />
    <label style="color:orange"><b>Yıldız</b></label>
    @Html.TextBoxFor(x => x.Star, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">
        <span class="btn-label">
            <i class="fa fa-check"></i>
        </span>
        Referans Bilgisi Ekle
    </button>
</form>

