@model PortfolioProject.Models.Service
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hizmet Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x=>x.ServiceId)
    <label style="color:orange"><b>Başlık</b></label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label style="color:orange"><b>İkon</b></label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <label style="color:orange"><b>Açıklama</b></label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">
        <span class="btn-label">
            <i class="fa fa-check-square"></i>
        </span>
        Hizmet Bilgisi Güncelle
    </button>
</form>

